@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

:root {
    --angle-step: 15deg;
    --radius: 200px;
}

body {
    margin: 0;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.circular-tabs {
    display: flex;
    width: 100vw;
    height: 100vh;
    gap: 100px;
    justify-content: space-between;
}

.circle {
    position: fixed;
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
    pointer-events: none;
}

.tab {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: left center;
    transform: rotate(calc(var(--i) * var(--angle-step))) translateX(400px);
    text-transform: uppercase;
    font-size: 1rem;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    filter: blur(4px);
}

.tab.active {
    opacity: 1;
    font-size: 40px;
    color: #fff;
    filter: blur(0);
}

.content {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100%;
    box-sizing: border-box;
    padding-left: 44%;
}

.section {
    scroll-snap-align: start;
    min-height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
}

.secont_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 500px;
    max-width: 550px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 50px;
}

.secont_content h2 {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: clamp(22px, 28vw/12, 28px);
    line-height: clamp(24px, 30vw/12, 30px);
    font-weight: 600;
}

#section_content1 {
    background: rgb(101, 22, 170);
}

#section_content2 {
    background: #2b5208;
}

#section_content3 {
    background: #033d3a;
}

#section_content4 {
    background: #8d053d;
}

#section_content5 {
    background: #0e5f46;
}

#section_content6 {
    background: #6019bc;
}

#section_content7 {
    background: #a90e2f;
}

#section_content8 {
    background: #106783;
}

@media only screen and (min-width: 1800px) and (max-width: 2300px) {
    .circle {
        left: -10%;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1800px) {
    .circle {
        left: -20%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .circle {
        left: -28%;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    .circle {
        left: -38%;
    }
}


@media only screen and (max-width: 1250px) {}

@media only screen and (max-width: 1250px) {}