@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Domine:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --angle-step: 15deg;
    --radius: 200px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #151418;
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
    font-size: clamp(14px, 15vw/12, 15px);
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    transition: .4s all ease;
    text-decoration: none;
}

.site_btn {
    position: relative;
    display: inline-grid;
    text-decoration: none;
    transition: .4s all ease;
    font-family: "Calistoga", serif;
    font-size: clamp(13.5px, 15vw/12, 15px);
    line-height: clamp(15px, 16vw/12, 16px);
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 10px 10px;
    color: #f2f2f2;
    border: 2px solid rgb(21, 20, 24);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) -2px 2px 0px 0px;
}

.site_btn:is(:hover, :focus) {
    box-shadow: rgb(140, 82, 255) -2px 2px 0px 0px;
}

.site_btn.brd_light {
    border-color: #8c52ff;
}

.circular-tabs {
    display: flex;
    width: 100vw;
    height: 100vh;
    gap: 100px;
    justify-content: space-between;
}

.circle {
    /* position: fixed; */
    /* width: 25%; */
    position: absolute;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
    pointer-events: none;
}

.tab {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: left center;
    transform: rotate(calc(var(--i) * var(--angle-step))) translateX(400px);
    text-transform: uppercase;
    font-size: 1rem;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    font-family: "Nunito", sans-serif;
    font-size: clamp(32px, 40vw/12, 40px);
    font-weight: 600;
    text-transform: capitalize;
    filter: blur(4px);
    color: #fff;
}

.tab.active {
    opacity: 1;
    font-size: clamp(35px, 40vw/12, 50px);
    color: #fff;
    filter: blur(0);
}

.content {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100%;
    box-sizing: border-box;
}

.section {
    scroll-snap-align: start;
    min-height: 100vh;
    padding: 0;
    display: grid;
    position: relative;
    grid-template-columns: 65% auto;
    grid-template-rows: auto;
    justify-content: flex-end;
    max-width: 100%;
    padding-inline: 0 !important;
    align-items: center;
}

.section_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px;
    background: #242329;
    color: #fff;
    gap: 20px;
    justify-content: center;
    box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.section_content h2 {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Calistoga", serif;
    font-size: clamp(20px, 25vw/12, 25px);
    line-height: clamp(20px, 25vw/12, 25px);
    font-weight: 400;
}

.section_content p {
    font-family: "DM Sans", sans-serif;
    font-size: clamp(16px, 17vw/12, 17px);
    line-height: clamp(26px, 28vw/12, 28px);
    font-weight: 300;
    letter-spacing: 0.4px;
}

#circularTabsWrapper {
    position: relative;
    overflow: hidden;
}

.section_content ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px 50px;
}

.section_content ul li {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 50px 30px;
    border: 2px solid #292c34;
    background: linear-gradient(#ffffff0f, #040811 30%);
}

.section_content ul li h3 {
    font-family: "Nunito", sans-serif;
    font-size: clamp(18px, 20vw/12, 20px);
    line-height: clamp(18px, 20vw/12, 20px);
    font-weight: 600;
}

.section_content .pricing_details {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section_content button {
    font-family: "Calistoga", serif;
    font-size: clamp(14px, 15vw/12, 15px);
    line-height: clamp(15px, 16vw/12, 16px);
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 10px 10px;
    background: none;
    color: #fff;
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #8a3bef00, #8a3bef 25%, #8a3bef 75%, #fff0);
    border-image-slice: 1;
}

@media only screen and (max-width: 2200px) {
    .circle {
        left: -12%;
    }
}

@media only screen and (max-width: 1800px) {}

@media only screen and (max-width: 1500px) {
    .circle {
        left: -17%;
    }


}

@media only screen and (max-width: 1299px) {
    .circle {
        left: -25%;
    }
}

@media only screen and (max-width: 1199px) {
    .circle {
        left: -30%;
    }
}


.rows-inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media only screen and (max-width: 1400px) {
    #header_inner {
        max-width: 100%;
        padding-inline: 10px;
    }

    .rows-inner {
        max-width: 100%;
        padding-inline: 10px;
    }
}


/*----------header---------*/
header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    margin: 0 auto;
    z-index: 3;
    transition: 0.3s ease;
}

header.scrolled {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    backdrop-filter: blur(8px);
}

header::after {
    content: "";
    position: absolute;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 19%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 21%, rgba(0, 0, 0, 0.02) 24%, rgba(0, 0, 0, 0.17) 37%, rgba(0, 0, 0, 0.48) 58%, rgba(0, 0, 0, 0.66) 71%, rgba(0, 0, 0, 0.81) 87%, rgba(0, 0, 0, 0.87) 100%);
    width: 100%;
    height: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    z-index: -1;
}

header.scrolled::after {
    content: none;
}

#header_inner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#menuIcon {
    display: none;
}

.logo a {
    position: relative;
    display: inline-grid;
    top: -5px;
}

.logo img {
    width: 160px;
}

#navlinks {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 25px;
    width: 100%;
    max-width: 60%;
}

#navlinks a {
    color: #f2f2f2;
    text-decoration: none;
    display: inline-grid;
    transition: .4s all ease;
    font-family: "DM Sans", sans-serif;
    font-size: clamp(16px, 18vw/12, 18px);
    line-height: clamp(16px, 18vw/12, 18px);
    font-weight: 300;
    letter-spacing: 0.4px;
}

.logo {
    position: relative;
    display: flex;
}

@media only screen and (min-width: 992px) {
    .nav-toggle-btn {
        display: none;
    }

    nav.navbar {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 60%;
    }
}

@media only screen and (max-width: 1400px) {
    #header_inner {
        max-width: 100%;
    }
}

@media only screen and (max-width: 991px) {

    .nav-toggle-btn {
        position: relative;
        transform: rotate(0);
        transition: 0.25s all ease-in-out;
        z-index: 2;
        background: transparent;
        border: 0;
        cursor: pointer;
        padding: 0;
    }

    .nav-toggle-btn span {
        width: 25px;
        height: 2.5px;
        background: #fff;
        margin: 6px 0;
        display: block;
        transition: 0.25s all ease-in-out;
    }

    .nav-toggle-btn .one {
        margin-left: auto;
        transform-origin: left;
    }

    .nav-toggle-btn .three {
        transform-origin: center;
    }

    .nav-toggle-btn :is(.one, .three) {
        width: 25px;
    }

    .nav-toggle-btn.headmobactive {
        transform: rotate(-45deg);
    }

    .nav-toggle-btn.headmobactive .one {
        opacity: 0;
        transform: rotate(90deg) translateX(-3px);
    }

    .nav-toggle-btn.headmobactive .three {
        transform: rotate(90deg) translateX(-8px);
    }

    .navbar {
        position: fixed;
        background: #151418;
        right: -100%;
        display: grid;
        place-items: center;
        visibility: hidden;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .navbar.headmobactive {
        visibility: visible;
        max-width: 70%;
        left: auto;
        right: 0;
        transition: 0.5s cubic-bezier(0.5, 0.01, 0.24, 0.99);
    }

    #navlinks {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        box-sizing: border-box;
        padding: 60px 20px;
    }

    .headmobactive header {
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(8px);
    }

    .headmobactive #navlinks a {
        transition: .4s all ease;
    }

    #navlinks a {
        transition: unset;
    }
}

@media only screen and (max-width: 1250px) {}

/*----------header---------*/




/*------------hp-banner------------*/
#hp_banner {
    position: relative;
    z-index: 1;
    height: 100vh;
    background: url(pics/hp_banner.jpg) no-repeat center center/cover;
}

#hp_banner .rows-inner {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

#hp_banner h1 {
    position: relative;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Nunito", sans-serif;
    font-size: clamp(22px, 80vw/12, 80px);
    line-height: clamp(26px, 80vw/14, 80px);
    font-weight: 600;
    padding: 0 0 30px;
}

#hp_banner h2 {
    position: relative;
    margin: 0;
    padding: 40px 0 0;
    font-family: "Calistoga", serif;
    font-size: clamp(12px, 20vw/12, 20px);
    line-height: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #fff;
}

#hp_banner h1::after {
    content: "";
    position: absolute;
    background: #8c52ff;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
}

@media only screen and (max-width: 991px) {
    #hp_banner {
        background: url(pics/cam_img_mobile.jpg) no-repeat center top/cover;
    }

    #hp_banner::after {
        content: "";
        position: absolute;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 26%, rgba(0, 0, 0, 0.01) 27%, rgba(0, 0, 0, 0.01) 29%, rgba(0, 0, 0, 0.12) 40%, rgba(0, 0, 0, 0.41) 62%, rgba(0, 0, 0, 0.5) 72%, rgba(0, 0, 0, 0.5) 100%);
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        z-index: -1;
        max-height: 250px;
    }

    #hp_banner .rows-inner {
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        padding: 100px 20px 50px;
    }

    #hp_banner h1 {
        padding: 0 0 15px;
        flex-direction: row;
    }

    #hp_banner h2 {
        letter-spacing: 7px;
        width: 100%;
        padding: 15px 0 0;
    }
}



/*------------hp-banner------------*/


/*-----------contact us-----------*/
#contact_us {
    background: url(pics/cam_img6.jpg) no-repeat center center/cover;
    width: 100%;
    height: 500px;
}

/*-----------contact us-----------*/


/*-----------footer-----------*/
footer {
    position: relative;
    background: #242329;
    color: #f2f2f2;
}

footer h2 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Calistoga", serif;
    font-size: clamp(20px, 40vw/12, 40px);
    line-height: clamp(28px, 50vw/12, 50px);
    font-weight: 400;
    letter-spacing: 1px;
}

.social_links {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 18px;
    margin: 0;
}

#footertop_left p, .contact-info {
    color: #9E9E9E;
}

.contact-info:is(:hover, :focus) {
    color: #fff;
}

.social_links a {
    position: relative;
    display: inline-grid;
    transition: .4s all ease;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) -2px 2px 0px 0px;
    border: 2px solid rgb(21, 20, 24);
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.social_links a img {
    width: 20px;
}

#footer_links {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    flex-wrap: wrap;
    margin: 0;
}

#footer_links a:first-child {
    background: #8c52ff;
    color: #fff;
}

#footerCopy {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: right;
    color: #9E9E9E;
    font-family: "DM Sans", sans-serif;
    font-size: clamp(11.5px, 14vw/8, 14px);
    max-width: 70%;
    width: 100%;
}

#footer_bottom .rows-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer_bottom .logo {
    top: -6px;
}

#footer_bottom {
    position: relative;
    padding: 12px 20px;
    background: #1a1919;
}

.social_links a:is(:hover, :focus) {
    box-shadow: rgb(140, 82, 255) -2px 2px 0px 0px;
}

#footer_links a:is(:hover, :focus) {
    background: #8c52ff;
    color: #fff;
    box-shadow: rgb(0, 0, 0) -4px 4px 0px 0px;
}

#footer_links a:first-child:is(:hover, :focus) {
    background: #fff;
    color: #000;
}

#footer_top .rows-inner {
    min-height: 400px;
    display: flex;
    gap: 50px;
    padding: 50px 0;
    justify-content: space-between;
}

#footertop_left {
    position: relative;
    width: 100%;
    max-width: 50%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
}

#footertop_right {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 40%;
    background: #1a1919;
    padding: 30px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

#footertop_right::after {
    content: "";
    position: absolute;
    background: url(./pics/cam_img4.png) no-repeat right bottom;
    background-size: auto;
    width: 100%;
    height: 100%;
    right: -8px;
    bottom: -60px;
    z-index: -1;
    background-size: 100%;
    opacity: 0.35;
}

.footer_address {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.footer_address h3 {
    font-size: clamp(15.5px, 18vw/12, 18px);
    font-weight: 700;
    position: relative;
    margin: 0 0 8px;
}

#footerCopy span {
    color: #8c52ff;
}

.footer_address h3::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.footer_address #add_title:before {
    background: url(./pics/map_icon.png) no-repeat center center/contain;
}

.footer_address #add_phn:before {
    background: url(./pics/phone_icon.png) no-repeat center center/contain;
}

.footer_address #add_mail:before {
    background: url(./pics/mail_icon.png) no-repeat center center/contain;
}

footer h2::before {
    content: "Contact";
    transform: rotate(0.75turn) translateX(-100%);
    transform-origin: left top;
    position: absolute;
    left: -30px;
    color: #9E9E9E;
    text-transform: uppercase;
    top: 10px;
    font-size: clamp(14px, 15vw/12, 15px);
    font-family: "DM Sans", sans-serif;
    line-height: clamp(14px, 15vw/12, 15px);
    background: #242329;
    z-index: 1;
    padding: 0 0 0 20px;
}

footer h2::after {
    content: "";
    position: absolute;
    background: #9E9E9E;
    width: 2px;
    height: 100%;
    left: -23.5px;
    top: 10px;
}

footer iframe {
    width: 100%;
    max-width: 250px;
}

@media only screen and (max-width: 1400px) {
    #footer_top .rows-inner {
        padding-inline: 45px 20px !important;
        max-width: 100%;
    }

    #footer_bottom .rows-inner {
        max-width: 100%;
        padding-inline: 0;
    }
}

@media only screen and (max-width:768px) {
    #footer_top .rows-inner {
        align-items: center;
        flex-direction: column-reverse;
    }

    #footertop_right, #footertop_left {
        max-width: 100%;
    }

    #footertop_right {
        margin-left: -25px;
    }

    footer h2::before {
        top: 7px;
    }

    footer h2::after {
        top: 60px;
    }

    footer .logo img {
        width: clamp(100px, 160vw/8, 160px);
    }
}

@media only screen and (max-width: 991px) {}

/*-----------footer-----------*/



/*-----------Form-----------*/
.form_data {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.form_data>div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.form_data label {
    font-size: clamp(15px, 16vw/12, 16px);
    line-height: clamp(15px, 16vw/12, 16px);
    font-weight: 500;
}

.form_data input, .form_data textarea {
    position: relative;
    background: #242329;
    border: 0;
    padding: 15px 20px;
    margin: 0;
    color: #ebebeb;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    transition: .4s all ease;
    outline: 1.5px solid transparent;
}

button.site_btn {
    background: #1a1919;
    padding-inline: 40px;
    cursor: pointer;
}

.form_data input:focus {
    outline-color: #8c52ff;
}

button.site_btn:is(:hover, :focus) {
    background: #8c52ff;
    color: #fff;
    box-shadow: rgb(0, 0, 0) -4px 4px 0px 0px;
}

/*-----------Form-----------*/



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}